body { 
  background: #ffffff; 
  color: #000000; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}

.title {
  text-align: center;
  background: -webkit-linear-gradient(#0377fc, #0d233d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


